<div class="wbox">
  <div class="slide_box clearfix">
    <div class="Jslide" id="Jslide">
      <div class="slide-list" id="slide-list">
        <div class="slide-ul" style="display:block;">
          <ul>
            <li class="w1" style="display:block;"><a href="#" class="a_0" title="" rel="nofollow" target="_blank">
              <div ng-repeat="image in product.images" class="text-center" class="thumbnail">
              <img ng-src="data:{{image.contentType}};base64,{{image.content}}">
            </div>
              <!--<img src="images/7.jpg" width="100%"big-src="images/7.jpg" min-src="images/7.jpg" alt="" />--></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/northendcoffee.jpg" width="100%" min-src="northendcoffee.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/northendcoffee.jpg"  width="100%" min-src="images/northendcoffee.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#"  class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/bananas-index.jpg"  width="100%" min-src="images/bananas-index.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#"  class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/bananas-index.jpg"  width="100%"min-src="images/bananas-index.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/tea-index.jpg"  width="100%" min-src="images/tea-index.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/tea-index.jpg" width="100%" min-src="images/tea-index.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/rice.jpg" width="100%" min-src="images/rice.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/rice.jpg" width="100%" min-src="images/rice.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/longon-index.jpg" width="100%" min-src="images/longon-index.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/longon-index.jpg" width="100%" min-src="images/longon-index.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="slide-ul">
          <ul>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/fruit-index.jpg" width="100%" min-src="images/fruit-index.jpg" alt="" /></a>
            </li>
            <li class="w1" style="display:block;">
              <a href="#" rel="nofollow" class="a_0" title="" target="_blank"><img src="images/grey.gif" data-src="1" big-src="images/fruit-index.jpg" width="100%" min-src="images/fruit-index.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="slide-tab" id="slide-tab">
        <li class="current" >
          <div class="text">
            <em></em>
            <span>Taday's</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Haha</a>
          </div>
        </li>
        <li>
          <div class="text">
            <em></em>
            <span>Coffee</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
        <li>
          <div class="text">
            <em></em>
            <span>Banana</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
        <li  >
          <div class="text">
            <em></em>
            <span>Tea</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
        <li  >
          <div class="text">
            <em></em>
            <span>Rice</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
        <li  >
          <div class="text">
            <em></em>
            <span>Longan</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
        <li  >
          <div class="text">
            <em></em>
            <span>Fruit</span>
            <div class="num"></div>
          </div>
          <div class="item">
            <a href="#" hidefocus="true">Origin</a>
            <a href="#" hidefocus="true">Products</a>
          </div>
        </li>
      </ul>
      <a href="#" class="dir go_l" id="go_l" hidefocus="true"></a>
      <a href="#" class="dir go_r" id="go_r" hidefocus="true"></a>
    </div>
  </div>
</div>
<script type="text/javascript" src="title.js"></script>
<script type="text/javascript" src="jquery-1.5.1.min.js"></script>

